<div class="container">
  <h3 class="display-6 text-center">Password-Generator App</h3>

  <div class="card alert-success shadow-lg p-3 mb-5 bg-white rounded" style="width: 35rem"  >
    <div class="card-body">
      <h5 class="card-title">Password Generator</h5>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping"
              >Length of Your Password</span
            >
            <input
              min = '8'
              max = '35'
              type="number"
              class="form-control"
              placeholder="enter the number"
              aria-label="number"
              aria-describedby="addon-wrapping"
              
              (input) = "onChangeLength($event)"
            />
          </div>
        </li>
        <li style="list-style-type: none;">
          <div class="form-group row">
            
            <div class="col-sm-10">
              <div class="form-check  m-2">
                <input 
                class="form-check-input"
                 type="checkbox" 
                id="gridCheck1"
                (change)="onChangeUseLetters()" >
                <label class="form-check-label" for="gridCheck1">
                Use Letters?
                </label>
              </div>
            </div>
          </div>
        </li>
        <li style="list-style-type: none;">
          <div class="form-group row">
            
            <div class="col-sm-10">
              <div class="form-check  m-2">
                <input 
                class="form-check-input"
                 type="checkbox" 
                 id="gridCheck1"
                 (change)="onChangeUseNumbers()" >
                <label class="form-check-label" for="gridCheck1">
                  Use Numbers?
                </label>
              </div>
            </div>
          </div>
        </li>
        <li style="list-style-type: none;">
          <div class="form-group row">
            
            <div class="col-sm-10">
              <div class="form-check  m-2">
                <input 
                class="form-check-input " 
                type="checkbox"
                 id="gridCheck1"
                 (change)="onChangeUseSymbols()">
                <label class="form-check-label" for="gridCheck1">
                  Use Symbols?
                </label>
              </div>
            </div>
          </div>
        </li>
        <li style="list-style-type: none;">
          <button 
          type="button"
          class="btn btn-success m-2"
          [disabled]='!((length) && (includeLetters || includeNumber || includeSymbols))'
          (click)="onGeneratePassword()"
           >
            Generate Password
          </button>
        </li>
        <li class="box-shadow" style="list-style-type: none;">
          <div class="input-group  flex-nowrap  m-2">
            <span class="input-group-text border-0" id="addon-wrapping"
              >Your Password:</span
            >
            <input 
            class="input-group-text border-0"
            placeholder="Your Password Lives Here"
            type="text"
            appPasswordFont
            [value] = 'password'>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <app-pagination></app-pagination>
  <!-- <nav>
    <ul>
      <li routerLinkActive="router-link-active" >
        <a  [routerLink]="['/app-pagination']" >Pagination</a>
        <router-outlet></router-outlet></li>
    </ul>
  </nav> -->
</div>